<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore ss<a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
</ion-content> -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Entry</ion-card-title>
      <ion-card-subtitle>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" placeholder="selec Date"></ion-datetime>
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Product</ion-label>
              <ion-select [(ngModel)]="entry.product">
                <ion-select-option value="idhayam">Idhayam</ion-select-option>
                <ion-select-option value="mantra">Mantra</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Product Type</ion-label>
              <ion-select [(ngModel)]="entry.type">
                <ion-select-option value="500ml">500ml</ion-select-option>
                <ion-select-option value="1L">1L</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-select placeholder="Product">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-button shape="round" color="primary">Add</ion-button>
          </ion-col>
          <ion-col size="1">
            <ion-button shape="round" color="primary">Clear</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>